.grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transform-style: preserve-3d; // transform: translate3d(0px, -60vmin, 0px);
    position: relative;
    &__wrap {
        // position: fixed;
        // top: 36%;
        // left: 2%;
        width: 90%; 
        // transform: translateX(-20vw) translateY(275px) rotateX(45deg) rotateZ(45deg);
        // transform: translateX(-20vw) translateY(0) rotateX(5deg) rotateZ(15deg);
        margin: 0 auto;
        // @media screen and (min-width: 768px) {
        //     transform:translateX(-15vw) translateY(50vmin) rotateX(45deg) rotateZ(15deg);
        //     width: 100%;
        //     position: fixed;
        //     left: 10%;
        //     top: 0;
        //     transform-style: preserve-3d;
        // }
        // @media screen and (min-width: 1200px) {
        //     transform: translateX(-30vw) translateY(50vmin) rotateX(55deg) rotateZ(35deg);
        //     width: 80%;
        //     // position: fixed;
        //     // left: 10%;
        //     // top: 0;
        //     // transform-style: preserve-3d;
        // }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            // transform:translateX(-15vw) translateY(50vmin) rotateX(45deg) rotateZ(15deg);
            // width: 100%;
            // position: fixed;
            // left: 10%;
            // top: 0;
            // transform-style: preserve-3d;
            transform: translateX(0vw) translateY(0px) rotateX(20deg) rotateZ(0deg);
            transform-style: preserve-3d;
            // perspective: 5555px;
        }
        @media screen and (min-width: 1200px) {
            // translateX(-15vw) translateY(275px) rotateX(45deg) rotateZ(45deg)
            transform: translateX(-55vw) translateY(175px) rotateX(45deg) rotateZ(45deg);
            // transform: translateX(-6%) translateY(275px) rotateX(45deg) rotateZ(25deg);
            width: 80%;
            position: fixed;
            left: 10%;
            top: 0;
            transform-style: preserve-3d;
        }
    }
    &__dk{
        // @media screen and (min-width: 768px) {
        //     // transform:translateX(-15vw) translateY(50vmin) rotateX(45deg) rotateZ(15deg);
        //     // width: 100%;
        //     // position: fixed;
        //     // left: 10%;
        //     // top: 0;
        //     // transform-style: preserve-3d;
        //     transform: translateX(0vw) translateY(0px) rotateX(20deg) rotateZ(0deg);
        //     transform-style: preserve-3d;
        //     perspective: 5555px;
        // }
        @media screen and (min-width: 1200px) {
            // translateX(-15vw) translateY(275px) rotateX(45deg) rotateZ(45deg)
            transform: translateX(-55vw) translateY(175px) rotateX(45deg) rotateZ(45deg);
            // transform: translateX(-6%) translateY(275px) rotateX(45deg) rotateZ(25deg);
            width: 80%;
            position: fixed;
            left: 10%;
            top: 0;
            transform-style: preserve-3d;
        }
    }
    // &__scroll{
    //     width: 100vw;
    //     height: 100%;
    //     min-height: 100vh;
    //     z-index: 9;
    //     background-color: #333;
    //     pointer-events: none;
    //     position: relative;
    //     opacity: .3;
    //     // top: 0;
    //     // left: 0;
    // }
}