.iphone {
    position: relative;
    max-width: 360px;
    width: 100%;
    height: 640px;
    background-size: cover;
    margin: auto;
   
//    &:after{
//        padding-bottom: 100%;
//        left: 0;
//        right: 0;
//        top: 0;
//        bottom: 0;
//        position: absolute;
//        content: '';
//    }
//    iframe{
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     position: absolute;
//    }
}