@import './../../utils/_fluidprops';
.bio {
    position: relative;
    // &:after {
    //     width: 50px;
    //     height: 50px;
    //     background-color: #222;
    //     border-radius: 50%;
    //     position: absolute;
    //     content: '';
    //     top: 0;
    //     z-index: -1;
    //     left: 0;
        // transition: transform .75s cubic-bezier(0, 2, 1, 2), background-color .5s;
    //     transform: scale(1.1);
    // }
    img{
        transition: transform .75s cubic-bezier(0, 2, 1, 2)
    }
    &:hover img{
        transform: scale(1.15);
    }
}
.heading{
    @include fp(font-size, 16, 50); //50px at 320, 100px at 1920;
}